# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# =========================
# Environment variables / secrets
# =========================
.env
.env.*

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# FastAPI / Uvicorn
# =========================
*.sqlite3
uvicorn.log

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
